.h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: .8;
    color: #d8d8d8;}

.h5 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;
    color: rgb(255, 146, 106);}
    
.h2 {
    color: #d8d8d8;
    font-size: 1.4rem;}

.h3 {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;}
.h4 {
    font-weight: 700;
    font-size: 4.4rem;
    color: #ffffff;
}    
.p1 {
    max-width: 450px;
    line-height: 1.4;
    font-size: 15px;color: #d8d8d8;}

.p2 {
    color: white;
    width: 75%;
    text-align: center;
}
.smol-text {
    font-size: 15px;
    color: #a5a5a5;
}

.name {
    font-size: 1.5rem;
    color: #d8d8d8;
    font-weight: 300;
}

.stroke-span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(255, 146, 106);}

#typedName {
    overflow: hidden;
    border-right: 0.15em solid orange; /* Cursor effect */
    white-space: nowrap; /* Keep text in a single line */
    margin: 0;
    display: inline-block;}