/* color: #323232; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Quicksand:wght@400;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}
html {
    scroll-behavior: smooth;
}
body {
    background-image: url(assets/bg4-invert.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.content-wrapper {
    margin-top: 0;
    transition: margin-top 0.2s ease;
}
.content-wrapper.active {
    margin-top: 450px;
}
.blank {
    padding-left: 8%;
    padding-right: 8%;
    min-height: 100vh;
    /* background-image: linear-gradient(to right,
    rgba(50, 50, 50, 0),
    rgb(30, 30, 30) 50%,
    rgba(50, 50, 50, 0)); */
}
/* ---overlay timeline--- */
.timeline-icon,
.timeline-icon-mirrored {
    display: none;
}
.timeline {
    position: fixed;
    top: 50%;
    right: 2.5%;
    transform: translate(-50%, -50%);
    height: 45%;
    width: 1px;
    background-color: rgb(255, 146, 106);
    z-index: 999;

    /* ---vertical text--- */
    font-family: 'Poppins', sans-serif;
    line-height: 0.1;
    font-size: 12px;
    color: rgb(255, 146, 106);
    text-align: left;
}
.timeline::after {
    content: "AQEEL HANSLO";
    position: absolute;
    top: 110%;
    /* right: calc(60% + 1px); */
    padding-top: 3rem;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    white-space: nowrap;
}
.timeline-icon {
    position: fixed;
    top: 0;
    right: 2.5%;
    transform: translateX(45%);
    width: 15px;
    height: 15px;
    background-color: rgb(255, 146, 106);
    border-radius: 50%;
    z-index: 1000;
        /* content: '\f111'; */
        /* font-family: 'Font Awesome 5 Free'; */
        /* font-weight: 900; */
        /* font-size: 20px; */
        /* color: white; */
        /* text-align: center; */
        /* line-height: 30px; */
}
/* Mirrored timeline */
.timeline-mirrored {
    position: fixed;
    top: 50%;
    left: 2.5%;
    transform: translate(-50%, -50%) scaleX(-1); /* Mirroring */
    height: 70%;
    width: 0.25px;
    background-color: #d8d8d8;
    z-index: 999;
}
.timeline-icon-mirrored {
    position: fixed;
    top: 100%;
    left: 2.4%;
    transform: translateX(-45%) scaleX(-1); /* Mirroring */
    width: 20px;
    height: 20px;
    background-color: #d8d8d8;
    border-radius: 50%;
    z-index: 1000;
}

.text-area-1 {
    width: 71%;
    text-align: center;
}

/* Home section======================================================= */
#home {
    color: #d8d8d8;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 8%;
    padding-right: 8%;
    min-height: 82vh;
    width: 100%;
}
.img-profile {
    border-radius: 5%;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}
.img-profile-2 {
    border-radius: 25%;
    display: none;
}
.social-links {
    display: flex;
    gap: 2rem;
}
.social-links div a {
    color: #9c9c9c;
    font-size: 2rem;
}
.hidden-text {
    display: none;
}
.download-hire {
    display: flex;
    gap: 1rem;
}
.download-hire a {
    color: #9c9c9c;
    font-size: 2rem;
}
#home .home-text-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50rem;
    text-align: left;
    gap: 1.75rem;
}
#home .home-text-column a {
    display: inline-block;
    text-decoration: none;
    color: #323232; 
    background-color: #d8d8d8;
    text-align: center;
    height: 37px;
    padding: .6rem 0.7rem;
    font-size: .8rem;
    font-weight: 700;
    transition: all 0.3s ease;
    border-radius: 5px;
}
#home .home-text-column a:hover {
    background-color: #000000;
    color: white;
    transform: scale(1.1);
}



/* About section======================================================= */
#section-block-about {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding-bottom: 10rem;
}
.section-block-top {
    display: flex;
    width: 100%;
}
#about {
    width: 100%;
    min-height: 100vh;

    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.icon-column {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1.5rem;
    width: 100px;
}
.polygon {
    position: relative;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    background-color: rgba(255, 217, 202, 0);
    text-transform: uppercase;

    color: #d8d8d8;
    font-size: 8px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;
    box-shadow: 0 0 0 4px rgb(255, 146, 106);
}

.polygon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 98%;
    background: linear-gradient(45deg, rgba(255, 146, 106) 50%, transparent 50%);
    border-radius: 50%;
    z-index: -1;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    min-width: 60%;
}
/* .about-me-image {
    background-size: contain;
    background-position: center;
} */


/* Styles for Education Timeline */
.education-timeline {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
    flex-wrap: wrap;
}
/* .education-timeline li {
    height: 90px;
} */
.timeline-item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.timeline-year {
    padding-top: .7rem;
    font-size: 13px;
    color: #d8d8d87a;
    width: 75px;
    margin-right: 5px;
    text-align: left;
    font-weight: 500;
}

.timeline-content {
    border-left: 2px solid rgb(255, 146, 106);
    /* border-bottom: 1px solid rgba(255, 146, 106, 0.514);
    border-top: 2px solid rgb(255, 146, 106);
    border-right: 1px solid rgba(255, 146, 106, 0.514); */
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.timeline-content h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 2px;
    text-align: left;
    color: rgb(255, 146, 106);
}
.timeline-content p {
    margin-top: 0;
    margin-right: 5px;
    text-align: left;
}

/* Skills section====================================================== */
#section-block-skills {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 10rem;
}
.opacity {
    opacity: 50%;
}
#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.skill-container {
    width: 100%;
    max-width: 500px;
}
.skill-row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.skill-name{
    font-size: 15px;
    font-weight: 600;
    color: #f1f1f1;
    text-transform: uppercase;
    margin: 20px 0;
}
.skill-bar{
    height: 16px;
    background: rgba(255, 217, 202, 0.507);
    border-radius: 3px;
}
.skill-per{
    height: 16px;
    background: rgb(255, 146, 106);
    border-radius: 3px;
    position: relative;
    font-weight: 500;
    animation: fillBars 2.5s 1;
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    top: -15px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

  @keyframes fillBars{
    from{
      width: 0;
    }
    to{
      width: 100%;
    }
  }


/* Projects section===================================================== */
#section-block-projects {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 10rem;
}
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page-header-text-2 {
    align-items: center;
    font-weight: 600;
    font-size: 3rem;
    color: #ffffff;
    display: flex;
    gap: 1rem;
}

.horizontal-line-2 {
    width: 3.16rem;
    flex: 1;
    border: none;
    border-top: 2px solid #ffffff;
    margin: 0 0.5rem;
}
.horizontal-line {
    width: 75%;
    height: 1.5px;
    background-image: linear-gradient(to left, rgb(107, 107, 107), rgba(255, 255, 255, 0));
}
.project-name{
    font-size: 13px;
    font-weight: 600;
    color: rgb(146, 146, 146);
    text-align: left;
    text-transform: uppercase;}

.project-description {
    font-size: 13px;
    text-transform: uppercase;
    color: #f1f1f1;
    margin-bottom: 10px;
    text-align: left;}

.card_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: #e0e0e0b7;
    padding: .8rem;
    border-radius: .1rem;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
}

.card .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.card .info img {
    width: 100%;
    height: 210px;
    background-size:cover;
    background-position: center;
    border-radius: 0.1rem;
}

.btn_github {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 146, 106);
    font-weight: 500;
    padding: 0.2rem 2rem;
    font-weight: 600;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    border: 2px solid rgb(255, 146, 106);
    border-radius: 5px;}
    .btn_github:hover {
        background-color: rgb(255, 146, 106);
        color: #d8d8d8}

.btn_github_2 {
    display: inline-block;
    text-decoration: none;
    color: #323232;
    background-color: #d8d8d8;
    padding: 0.7rem 2rem;
    font-weight: 500;
    font-size: 0.9rem;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border-radius: 5px;}
    .btn_github_2:hover {
        color: #d8d8d8;}


/* hire-me section=================================================== */

#hire-me {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 5rem;
    justify-content: center;
}
.form-row {
    display: flex;
    gap: 1rem;
}
.contact-form {
    width: 500px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
#hire-me h1 {
    text-align: center;
}
.form-group {
    margin-bottom: 25px;
    width: 100%;
    font-size: 1.25rem;
}
.form-group label {
    display: block;
    color:#d8d8d8;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form-group textarea {
    resize: vertical;
    min-height: 200px;
}



#error-page {
    color: #d8d8d8;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8%;
    padding-right: 8%;
    min-height: 82vh;
    width: 100%;
}

#error-page a {
    text-decoration: none;

}
